.container {
  width: full;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #c2c2c2, #dcdf43, #635d26);
}

mat-card {
  width: 400px;
  padding: 50px;
  border-radius: 10px;

}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}