.user-grid {
    height: 60vh;
    /* Hace que el grid ocupe toda la ventana */
}

.form-tile {
    background: #5b5b5c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-tile {
    background: #d0d1b4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* Evita que se corte la tabla */
}

/* Opcional: limita el ancho del formulario */
app-alumno-form {
    width: 70%;
    max-width: 300px;
}

/* Hace que el formulario se vea centrado verticalmente */
app-alumno-list {
    width: 90%;
}